<div class="container">
  <%= form_tag(send_new_chat_path) do %>
    <div class="row">
      <h4>New Chat</h4>
      <select name="receiver">
        <% @all_users.each do |user| %>
          <% if user != current_user %>
            <option value=<%= user.id %>> <%= user.email %> </option>
          <% end %>
        <% end %>
      </select>
      <br/><br/>
    </div>

    <div class="row">
      <textarea name="content" cols="50" rows="10"></textarea>
    </div>

    <div class="row">
      <%= submit_tag "Send", class: 'btn btn-primary' %>
      <%= link_to "Back", :back, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>